html {
	background-color: whitesmoke;
	background-image: url('./images/backgroundSecret.webp');
    /* background-size: 100vw 100vh; */
      background-size: cover;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	color: whitesmoke;
	overflow: hidden;
    user-select: none;
}

* {
    user-select: none; 
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.center {
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
}

.position {
	position: absolute;
}

.inventory {
	height: 15vh;
	width: 100%;
	top: -10vh;
	left: 0;
	display: flex;
	justify-content: center;
	gap: 5vw;
	z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
	opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
	position: absolute !important;
	z-index: 20;
}

.imgcontainer img {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  object-fit: contain;
}

.perspective {
    perspective: 500px;
    right: 0px;
    top: 0px;
    width: 100vw;
	height: 100vh;
}

.wallDoor {
    height: 1029px;
    right: 0px;
    top: 0px;
    transition: 2s all linear;
    transform-origin: center right;
}

.workshopEnter {
    height: 90%;
    width: 17%;
    right: 0px;
    top: 0%; 
}

.lectern {
    height: 325px;
    top: 550px;
    right: 200px;
}

.mirror {
    width: 250px;
    height: 500px;
    top: 175px;
    right: 425px;
    overflow: hidden;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 10px groove saddlebrown;
      border-bottom: none;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.mirrorBlocker {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #e66465, #9198e5);
    background-image:  url('./images/mirrorBack.webp');
    background-size: 100% 100%;
    transform-origin: center right;
    transform: rotate3d(0, 1, 0, -90deg);
    transition: 2s all ease-out;
}

.mirrorAnswer {
      height: 100px;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      pointer-events: none;
}

.mirrorAnswer2 {
      height: 100px;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      pointer-events: none;
}


.fuseBox {
    height: 125px;
    top: 345px;
    left: 300px;
}

.fuseBoxLights {
    visibility: hidden;
    height: 160px;
    top: 320px;
    left: 275px;   
    pointer-events: none;
}

/* .feeder {
    height: 120px;
    top: -85px;
    left: 160px;
} */

.counter {
    height: 325px;
    top: 495px;
    left: 210px;
}

.lamp {
    height: 125px;
    top: -100px;
    left: 850px;
}

.lampHead {
    transform-origin: 50% 5%;
}

.feeder {
    height: 120px;
    top: 645px;
    left: 460px;
}

.feederImg {
    height: 100%;
    width: 100%;
}

.calendar {
    height: 190px;
    top: 395px;
    left: 160px;  
}

.table {
    height: 300px;
    bottom: 30px;
}

.lecterns {
    height: 300px;
    top: -275px;
    left: 200px;
}

.doorFoyer {
    height: 725px;
    left: 20px;
    bottom: -90px;
}

.painting {
      height: 200px;
      left: 1060px;
      top: 150px; 
}