html {
	background-color: whitesmoke;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./allbooks/bg.webp");
	background-size: 100vw 85vh;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	color: whitesmoke;
}

* {
	user-select: none; 
	-moz-user-select: none;
	-webkit-text-select: none;
	-webkit-user-select: none;
	cursor: default;
   }
   

.position {
	position: absolute;
}

.inventory {
	height: 15vh;
	width: 100%;
	top: -10vh;
	left: 0;
	display: flex;
	justify-content: center;
	gap: 5vw;
	z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
	opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
	position: absolute !important;
	z-index: 20;
}

.imgcontainer {
	/* position: absolute; */
/*    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));*/
}

.imgcontainer img {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
}

.allData {
	background-color: #7aa8dc;
	margin: auto;
	width: 500px;
	padding-bottom: 20px;
	text-align: center;
}

.title {
	padding: 10px;
	font-size: 32px;
}

.sticky {
	position: absolute;
	z-index: 5;
	right: 5%;
	top: 10%;
}

.drawer {
	top: 25%;
	left: -100%;
	transition: all 1s ease-out;
}

.scholarDiary {
	scale: .7;
}

.rules {
	padding-bottom: 10px;
	font-size: 18px;
	text-align: left;
	margin-left: 30px;
}

.button {
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    color: #747474;
    font-weight: bold;
    padding: 4px 8px;
    text-align: center;
    font-size: 20px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    margin: 5px 0px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 1   
}

.button:active {
    background-color: white;
}

.inputs {
	margin: auto;
	margin-top: 1px;
	display: block;
	text-align: center;
	font-size: 14px;
	width: 60px;
}

.inputs:focus, .button:focus {
	outline: none;
}

.results {
	margin-bottom: 5px;
}

.game {
	background-color: #581c20;
  	margin: auto;
  	display: grid;
  	grid-auto-flow: column;
  	grid-auto-columns: 1fr;
}

.bookHoles {
	background-color: #231631;
	margin-left: 3px;
	margin-right: 3px;
}

.books {
	position: absolute;
	background-color: #8b4937;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #c39054;
	font-size: calc(4vh + 0.6vw);
	writing-mode: tb-rl;
	box-shadow: inset 0.2em 0.0em 0.2em 0 rgba(0,0,0,0.5), inset -0.2em -0.0em 0.2em 0 rgba(0,0,0,0.5);
	border-radius: 10%;
	overflow-wrap: anywhere;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.lights {
	background-color: #eccfa2;
	text-align: center;
	margin: auto;
	margin-bottom: 5px;
}

.indicators {
	background-color: #31302c;
	text-align: center;
	display: grid;
	margin: auto;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.indicator {
	background-color: #186132;
	border: 3px solid black;
	margin: auto;
	margin-top: 10px;
}

.allClues {
	display: flex;
	margin: auto;
	opacity: .85;
}

.allGame {
	display: flex;
	margin: auto;
	gap: 0px;
	top: 20%;
}

.lower {
	height: 5vh;
	width: 100%;
}

.set {
	flex: 1;
	margin: 5px;
}

.clue {
	flex: 1;
	margin: 5px;
}

.glass:hover {
	cursor:not-allowed;
}

.others {
	background-color: #581c20;
	display: flex;
	margin: auto;
	height: 87%;
	width: 100%;
}

.glass {
	opacity: 0.5;
	background-image: url("./allbooks/otherimages/glasstexture3.webp");
	position: absolute;
	z-index: 1;
	filter: blur(2px);
	backdrop-filter: blur(5px);
	box-shadow: inset 0 0 100px #4d5659, inset 0 0 50px #4d5659, inset 0 0 10px #4d5659, ;
}

.faded {
	position: absolute;
	border:10vh solid white;
	border-top: 20vh solid white;
	margin-top: -23vh;
	margin-bottom: -23vh;
	transform:scale(0.5);
	opacity: 0.85;
}

.set {
 position: relative;
}

.stacked {
 flex: 1 1 10%;
 position: relative;
 display: grid;
 grid-template-columns: auto;
}