html {
      background-color: whitesmoke;
      background-image: url('./images/background.webp');
      background-size: cover;
      background-repeat: no-repeat;
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      color: whitesmoke;
      overflow: hidden;
      user-select: none;
}

/*
* {
    outline: 1px dotted red;
}
*/

:root {
      --font-size: 20px;
}

.position {
      position: absolute;
}

.inventory {
      height: 15vh;
      width: 100%;
      top: -10vh;
      left: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 5vw;
      z-index: 10;
      background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
      opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
      height: 80%;
      display: flex;
      justify-content: center;
      margin-top: 1vh;
      margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
      position: absolute !important;
      z-index: 20;
}

.imgcontainer img {
      max-height: 100%;
      max-width: 100%;
      pointer-events: none;
      object-fit: contain;
}

.center {
      margin: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.grid {
      grid-gap: 10px;
      width: 100%;
      height: 100%;
      display: grid;
      justify-content: space-evenly;
      justify-items: center;
      align-content: space-evenly;
      align-items: center;
      margin: auto;
      position: absolute;
      top: 175px;
      right: 200px;
}

.square {
      background-color: whitesmoke;
      /*    position: absolute;*/
      height: 100px;
      width: 100px;
}

.mapBackground {
      background-color: whitesmoke;
}

/* .imgcontainer {
  position: absolute;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    z-index: 3;
} */

/* .imgcontainer img {
  height: 100%;
  width: 100%;
  pointer-events: none;
} */

.pad {
      position: absolute !important;
      top: 155px;
      right: 1000px;
      width: 400px;
      filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.row {
      width: 100vw;
      height: 100vh;
      display: flex;
      gap: 100px;
}

.row2 {
      display: flex;
      gap: 100px;
}

.pamphlet {
      gap: 30px !important;
}

.textA {
      width: 50%;
      left: 0px;
      transform: rotate(1deg);
}

.textB {
      width: 45%;
      left: 50%;
}

.text {
      font-family: 'Lora';
      text-align: center;
      position: absolute;
      padding: 20px;
      padding-top: 125px;
      color: black;
      font-size: var(--font-size);
      line-height: calc(var(--font-size) + 1);
}

.textButton {
      background-color: transparent;
      font-family: 'Lora';
      border: none;
      position: absolute;
      bottom: 40px;
      color: black;
      font-size: var(--font-size);
      line-height: calc(var(--font-size) + 1);
}

#nextButton {
      right: 30px;
}

#lastButton {
      left: 30px;
}

.heightChart {
      height: 450px;
}

.stamp {
      padding: 10px;
      padding-top: 20px;
      width: 100px !important;
      height: 100px !important;
      position: absolute;
}

.mapEdge {
      position: absolute;
      z-index: -3;
}

brb {
      display: block;
      margin: 10px 0;
}

.scribbles {
      position: absolute;
      font-family: 'GavinScript';
      color: white;
      font-size: calc(var(--font-size) * 1.6);
      transform: translateX(calc(var(--font-size) * -1.4)) rotate(-10deg);
      font-weight: 900;
      text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.offset {
      transform: rotate(-20deg) !important;
      right: 40px;
      top: 75px;
      font-size: 25px !important;
      line-height: 26px !important;
}

.one {
      transform: translateX(calc(var(--font-size) * -1.1)) rotate(-10deg);
}

.two {}

.three {
      transform: translateX(calc(var(--font-size) * -1.4)) rotate(10deg);
}

.four {}

.five {}

.six {
      font-size: calc(var(--font-size) * 1.8);
      transform: translateX(-30px) translateY(-2px) rotate(-10deg);
}

.large {
      text-shadow:
            5px 5px 0 #000,
            -3px -3px 0 #000,
            3px -3px 0 #000,
            -3px 3px 0 #000,
            3px 3px 0 #000;
}

.title {
      font-family: 'Raleway' !important;
      font-weight: bolder;
      font-size: calc(var(--font-size) * 1.2);
}

@font-face {
      font-family: 'GavinScript';
      /*a name to be used later*/
      src: url('./fonts/GavinScript2-Regular.ttf');
      /*URL to font*/
}

@font-face {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.button {
      background-color: whitesmoke;
      border: none;
      border-radius: 4px;
      color: #747474;
      font-weight: bold;
      padding: 4px 8px;
      text-align: center;
      font-size: 20px;
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      margin: 5px 0px;
      opacity: 0.9;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
}

.button:hover {
      opacity: 1
}

.button:active {
      background-color: white;
}

.halfSlipLoungeFront {
      visibility: hidden;
      position: absolute;
      top: 250px;
      right: 500px;
      width: 800px;
      height: 150px;
      max-width: 100%;
      max-height: 100%;
      z-index: 5;
}

.halfSlipLoungeFrontImg {
      position: absolute;
      width: inherit;
      height: inherit;
      max-width: 100%;
      max-height: 100%;
      pointer-events: none;
}