html {
      background-image: url('./images/background.webp');
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      user-select: none;
}

.screenKeeper {
      top: 0px;
      left: 0px;
      width: 1920px;
      height: 1080px;
      transform-origin: 0% 0%;
}

.position {
      position: absolute;
}

.inventory {
      height: 162px;
      width: 100%;
      top: -108px;
      left: 0;
      display: flex;
      justify-content: center;
      gap: 96px;
      z-index: 10;
      background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
      opacity: 50%;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
      height: 80%;
      display: flex;
      justify-content: center;
      margin-top: 1vh;
      margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
      position: absolute !important;
      z-index: 20;
}

.imgcontainer {
      /* position: absolute; */
      /*    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));*/
}

.imgcontainer img {
      max-height: 100%;
      max-width: 100%;
      pointer-events: none;
}

.lower {
      height: 22px;
      width: 100%;
}

.playArea {
      display: grid;
      padding-left: 115px;
      padding-top: 65px;
      grid-template-columns: auto auto auto auto;
      width: calc(902px - 115px);
      height: calc(673px - 65px);
      margin: auto;
      background-position: center;
      background-image: url("./images/hatrack.webp");
      background-size: contain;
      background-repeat: no-repeat;
      grid-column-gap: 60px;
      scale: 0.9;
}

.hat {
      position: absolute;
      z-index: 5;
}

.hat img {
      height: 100%;
      width: 100%;
}

.pegs {
      width: 35px;
      height: 89.9px;
      background-image: url("./images/peg.webp");
      background-size: 35px 89.9px;
      z-index: 2;
}

/* #fedora {
  left: 20vw;
  width: 375px;
  z-index:3;
}
#flatCap {
  left: 40vw;
  width: 315px;
  z-index:4;
}
#gradCap {
  left: 60vw;
  width: 475px;
  z-index:5;
}
#visor {
  left: 80vw;
  width: 275px;
  z-index:6;
} */

.button {
      background-color: whitesmoke;
      border: none;
      border-radius: 4px;
      color: #747474;
      font-weight: bold;
      padding: 4px 8px;
      text-align: center;
      font-size: 20px;
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      margin: 5px 0px;
      opacity: 0.9;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
}

.button:hover {
      opacity: 1
}

.button:active {
      background-color: white;
}