html {
	background-color: whitesmoke;
	background-image: url('./images/background.webp');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	color: whitesmoke;
	user-select: none;
}

.position {
	position: absolute;
}

.inventory {
	height: 15vh;
	width: 100%;
	top: -10vh;
	left: 0;
	display: flex;
	justify-content: center;
	gap: 5vw;
	z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
	opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
	position: absolute !important;
	z-index: 20;
}

.center {
	display: flex;
	width: 100%;
	height: 100%;
	margin: auto;
	justify-content: center;
}

.imgcontainer {
	/* position: absolute; */
/*    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));*/
}

.imgcontainer img {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
}

.chandelier {
	margin: auto;
	z-index: 4;
	top: -100vh;
}

.chandelier img {
	height: 100vh;
}

.hat {
	position: relative;
	top: -50vh;
	left: -1vh;
}

.hat img {
	height: 30vh;
}

.paintings {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 5vw;
	grid-row-gap: 3vw;
	justify-items: center;
}

.paintings img {
	height: 80vh;
}

.button {
	border: none;
      padding: 0px;
}

.inputHole {
	position: initial;
      background: 
            url(./images/pegHolder.webp),
            radial-gradient(circle at center, #333, #000000 50%, transparent 50%);
      background-size: 100% 100%;
	border-radius: 50%;
	height: 6vh;
	width: 6vh;
}

.circle:hover {
      background-color: none;
}

.peg {
	visibility: hidden;
	position: absolute;
	left:calc(50% - 4vh);
	height: 8vh;
	width: 8vh;
	transform-origin: 50% 95%;
	z-index: 3;
}

.peg img {
	height: 8vh;
}

.spotlight {
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
	position: absolute;
	background-color: white;
	opacity: 0.6;
	z-index: 3;
	filter: blur(5px);
}

.spotlight:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 100%;
  background:
    radial-gradient(ellipse at center, rgba(255, 255, 100, 0.3) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 100%);
}

.button2 {
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    color: #747474;
    font-weight: bold;
    padding: 4px 8px;
    text-align: center;
    font-size: 20px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    margin: 5px 0px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button2:hover {
    opacity: 1   
}

.button2:active {
    background-color: white;
}