html {
      background-color: gray;
      background-image: url(./images/voltageBackground2.webp);
      background-size: 100vw 100vh;
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      color: whitesmoke;
      user-select: none;
}

:root {
  --buttonHolderWidth: 400px;
}

.center {
      display: flex;
      width: 100%;
      height: 100%;
      margin: auto;
      justify-content: center;
}

.position {
      position: absolute;
}

.inventory {
      height: 15vh;
      width: 100%;
      top: -10vh;
      left: 0;
      display: flex;
      justify-content: center;
      gap: 5vw;
      z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
      opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
      position: absolute !important;
      z-index: 20;
}

.imgcontainer img {
      max-height: 100%;
      max-width: 100%;
      pointer-events: none;
      object-fit: contain;
}

.changePuzzle {
      height: 100%;
      width: 100px;
      top: 0px;
}
.prev {
      left: 0px;
}

.next {
      right: 0px;
}

.board {
      margin: auto;
      margin-top: 5vh;
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      /* perspective: 2000px; */
}

.break {
      flex-basis: 100%;
      height: 0;
}

.dotHolder {
      margin: auto;
      margin-top: 2.5vh;
      margin-left: -10vw;
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 10vh;
      background-color: rgba(245, 245, 245, 0.75);
      /*	transform: rotate(-45deg) skew(10deg, 10deg);*/
      /* transform: rotateY(30deg); */
}


.node {
      position: absolute;
      background-color: #252525;
      background: radial-gradient(at center, #383838, #000000);
      border-radius: 50%;
      height: 70px;
      width: 70px;
      font-size: 40px;
      color: #0078AB;
      /*  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;*/
      text-align: center;
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */
      /* border: 2px solid whitesmoke; */
      display: flex;
      align-items: center;
      justify-content: center;
      /*  transform: skew(-10deg, -10deg);*/
      /*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.onPath {
      background: radial-gradient(at center, #a5a16f, #44432e) !important;
}

.batterycharge {
      background-color: #424D59;
      border-radius: 15%;
      clip-path: polygon(30% 0, 70% 0, 70% 20%, 90% 20%, 90% 100%, 10% 100%, 10% 20%, 30% 20%);
      height: 30px;
      width: 30px;
}

.batterychargefull::after {
      content: "";
      position: absolute;
      margin: auto;
      top: 42%;
      left: 40%;
      background-color: #FAE01F;
      border-radius: 20%;
      height: 18px;
      width: 16px;
}

.battery {
      position: absolute;
      z-index: 2;
      background-color: #FAE01F;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      top: 25%;
      left: 25%;
      font-size: 40px;
      background: url(./images/orbBattery.webp) !important;
      background-size: 100% 100%;
      -webkit-user-select: none;
      /* Safari */
      -ms-user-select: none;
      /* IE 10 and IE 11 */
      user-select: none;
      /* Standard syntax */
      color: #0078AB;
      box-shadow: 0 0 20px #0078AB;
      /* border: 2px solid #0078AB; */
      /*  box-shadow: -10px 0px 20px #0078AB;*/
      display: flex;
      align-items: center;
      justify-content: center;
}

.battery:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(./images/orbBattery.webp);
      background-size: 100% 100%;
      animation: 10s powerSpin linear infinite;
}

.battery:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(./images/orbHighlight.webp);
      background-size: 100% 100%;
      z-index: 2;
}

.active {
      box-shadow: 0 0 20px #0078AB;
      /* animation-name: flux;
      animation-duration: 1s;
      animation-iteration-count: infinite; */
}

.active:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(./images/orbOn.webp);
      background-size: 100% 100%;
      animation: 10s powerSpin linear infinite;
}

.active:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(./images/orbHighlight.webp);
      background-size: 100% 100%;
      z-index: 2;
}

.goal {
      background-image: url(./images/orbOff.webp);
      background-size: 100% 100%;
}

/* .back {
      animation-name: double;
      animation-duration: 1s;
      animation-iteration-count: infinite;
} */

@keyframes powerSpin {
      0% {
            transform: rotate(0deg);
      }

      100% {
            transform: rotate(360deg);
      }
}

@keyframes flux {
      0% {
            box-shadow: -3px 0px 20px #0078AB;
      }

      25% {
            box-shadow: 0px 3px 20px #0078AB;
      }

      50% {
            box-shadow: 3px 0px 20px #0078AB;
      }

      75% {
            box-shadow: 0px -3px 20px #0078AB;
      }

      100% {
            box-shadow: -3px 0px 20px #0078AB;
      }
}

@keyframes double {
      0% {
            box-shadow: -3px 0px 20px #7C638E;
      }

      25% {
            box-shadow: 0px 3px 20px #7C638E;
      }

      50% {
            box-shadow: 3px 0px 20px #7C638E;
      }

      75% {
            box-shadow: 0px -3px 20px #7C638E;
      }

      100% {
            box-shadow: -3px 0px 20px #7C638E;
      }
}

.button2 {
      background-color: transparent;
      border: none;
      border-radius: 4px;
      color: #747474;
      font-weight: bold;
      padding: 0px 8px;
      text-align: center;
      font-size: 15px;
      flex: 0;
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      opacity: 0.9;
      transition: 0.3s;
      text-decoration: none;
      cursor: pointer;
}

.button2:hover {
      opacity: 1
}

.button2:active {
      opacity: 0.3;
}

.gridButton {
      border: none;
      position: absolute;
      z-index: -1;
      margin: auto;
      background: transparent;
      transform-origin: 50% 0%;
}

.gridButton:hover {
      cursor: pointer;
      background-color: #bad5f7;
}

.gridButton:active {}

.line {
      margin: auto;
      background-color: #21262c;
      /* border: 2px solid black; */
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000000 !important;
}

.poweredLine {
      background-color: #FAE01F !important;
      box-shadow: inset 0 0 10px rgb(255, 255, 255);
      border: 2px solid #ffffff !important;
}

.lineOn {
      background-color: #7a8797;
}

.inputs {
      flex: 0;
      margin-top: 1px;
      text-align: center;
      font-size: 14px;
      width: 60px;
}

.inputs:focus,
.button2:focus,
.gridButton:focus {
      outline: none;
}

/* .pileHolder {
      top: 100px;
      left: 280px;
      height: 100px;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 1));
} */

/* .buttonHolder {
      height: 100px;
      width: var(--buttonHolderWidth);
      bottom: 40px;
      right: calc(50vw - calc(var(--buttonHolderWidth) / 2));
      display: grid;
      grid-template-columns: auto auto auto;
}

.genButton {
      background-image: url(./images/metal.webp);
      color: #394048;
      padding: 5px 10px;
      place-self: start center;
      font-size: 24px;
      font-weight: 600;
      font-family: 'Courier New', Courier, monospace;
      text-shadow: 2px 2px #bdc7d0;
}

.genButton:hover {
      filter: opacity(.5);
      scale: 1.1;
      color: white;
}

.genButton:active {
      filter: brightness(.7);
      color: rgb(62, 66, 70);
      text-shadow: 2px 2px #8d98a1;
      scale: .9;
}

.pressed {
      filter: brightness(.7);
      color: rgb(62, 66, 70);
      text-shadow: 2px 2px #8d98a1;
      scale: .9;
}

.pressed:hover {
      filter: brightness(.7);
      color: rgb(62, 66, 70);
      text-shadow: 2px 2px #8d98a1;
      scale: .9;
}
 */
 
/* .path0 {
      background-color: #424D59;
}

.path1 {
      background-color: red !important;
}

.path2 {
      background-color: green !important;
} */

/*.node::after {
  content: "";
  position: absolute;
  background-color: black;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}*/

/*.triangle {
	z-index: -2;
	position: absolute;
  margin: auto;
  padding: 110px;
  border-radius: 2%;
  box-sizing: border-box;
  background-color: black;
  display: flex; 
  align-items: center; 
  justify-content: center;
	clip-path: polygon(0 87%, 50% 0, 100% 87%);
  transform-origin: 50% 0%;
}

.triangle::after {
  content: "";
  z-index: -1;
  position: absolute;
  margin: auto;
  padding: 100px;
  border-radius: 2%;
  box-sizing: border-box;
  background-color: whitesmoke;
  clip-path: polygon(0 87%, 50% 0, 100% 87%);
}*/
