html {
	background-color: whitesmoke;
	background-image: url('./images/background.webp');
	background-size: cover;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	color: whitesmoke;
	overflow: hidden;
}

* {
 user-select: none; 
 -moz-user-select: none;
 -webkit-text-select: none;
 -webkit-user-select: none;
 cursor: default;
}

:root {
	--tableHeight: 300px;
	--after-color: black;
	--one-color: ;
	--complete-color: ;
}

.position {
	position: absolute;
}

.clickThrough {
	pointer-events: none;
}

.inventory {
	height: 15vh;
	width: 100%;
	top: -10vh;
	left: 0;
	display: flex;
	justify-content: center;
	gap: 5vw;
	z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
	opacity: 50%;
}

.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}

.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
	position: absolute !important;
	z-index: 20;
}

.fuseBox {
	height: 150px;
	top: 350px;
	left: 250px;
}

.hatrack {
	height: 350px;
	right: 200px;
	top: 125px;
}

#visor {
	height: 150px;
	position: relative;
	left: -50px;
}

.bust {
	height: 500px;
	right: 400px;
	top: 300px;
}

.gradCapItem {
	height: 60px;
	right: 425px;
	top: 265px;
}

.fedoraItem {
	height: 60px;
	left: 275px;
	top: 570px;
}

.flatCapItem {
	height: 100px;
	width: 100px;
	left: 0px;
	top: 200px;
}

.bustGlass {
	height: 310px;
	width: 150px;
	right: 395px;
	top: 225px;
	mix-blend-mode: screen;
	opacity: 60%;
}

.bookTable {
	height: 284px;
	top: 525px;
	left: 260px;
}

.phone {
	height: 125px;
	top: 450px;
	left: 375px;
}

.fax {
	height: 75px;
	top: 550px;
	left: 300px;
}

.wallPaintings {
	display: flex;
	justify-content: space-evenly;
	height: 400px;
	width: 56vw;
	left: 425px;
	top: 25px;
}

.chandelier {
	transition: all 1s ease-out;
	height: 400px;
	left: calc(50% - (292px / 2));
	top: -400px;
}

.table {
	aspect-ratio: 1000 / 460;
	height: var(--tableHeight);
	top: 600px;
	left: calc(50% - var(--tableHeight) * (1000/460) / 2);
}

.doorLounge {
	z-index: 1;
	left: 30px;
	top: 265px;
}

.doorOffice {
	z-index: 1;
	right: 30px;
	top: 265px;
}

.doorStudy {
}

.lightLoungeBorder {
	position: absolute;
	background-color: grey;
	left: 28%;
	top: -50px;
	width: 80px;
	height: 80px;
	clip-path: polygon(0 41%, 100% 0, 100% 59%, 0 100%);
	display: flex; 
    align-items: center; 
    justify-content: center; 
	}
	.lightLounge {
		content: "";
		position: absolute;
		background-color: rgb(248, 24, 24);
		width: 70px;
		height: 70px;
		clip-path: polygon(0 41%, 100% 0, 100% 59%, 0 100%);
}

.lightOfficeBorder {
	position: absolute;
	background-color: grey;
	right: 28%;
	top: -50px;
	width: 80px;
	height: 80px;
	clip-path: polygon(0 0, 100% 41%, 100% 100%, 0 59%);
	display: flex; 
    align-items: center; 
    justify-content: center; 
	}
	.lightOffice {
		content: "";
		position: absolute;
		background-color: rgb(248, 24, 24);
		width: 70px;
		height: 70px;
		clip-path: polygon(0 0, 100% 41%, 100% 100%, 0 59%);
}

.lightStudyBorder {
	position: relative;
	background-color: grey;
	left: 28%;
	top: -420px;
	width: 100px;
	height: 50px;
	display: flex; 
    align-items: center; 
    justify-content: center; 
	}
	.lightStudy {
		content: "";
		position: relative;
		background-color: black;
		width: 90px;
		height: 40px;
}

.imgcontainer {
	/* position: absolute; */
/*    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));*/
}

.imgcontainer img {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
}