html {
      background-color: whitesmoke;
      background-image: url("./images/background.webp");
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      color: whitesmoke;
      user-select: none;
}

* {
      user-select: none;
      -moz-user-select: none;
      -webkit-text-select: none;
      -webkit-user-select: none;
      cursor: default;
}

.position {
      position: absolute;
}

.inventory {
      height: 15vh;
      width: 100%;
      top: -10vh;
      left: 0;
      display: flex;
      justify-content: center;
      gap: 5vw;
      z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
      opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
      position: absolute !important;
      z-index: 20;
}

.imgcontainer {
      /* position: absolute; */
      /*    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));*/
}

.imgcontainer img {
      max-height: 100%;
      max-width: 100%;
      pointer-events: none;
}

.center {
      display: flex;
      width: 100%;
      height: 100%;
      margin: auto;
      justify-content: center;
}

.phone {
      position: absolute;
      top: 40%;
}

.hat {
      visibility: hidden;
      top: 60%;
      left: 3%;
}

@font-face {
      font-family: "Digital";
      src: url("./images/DSEG14Classic-Regular.ttf");
}

.transcription {
      line-height: 150%;
      top: 10%;
      position: absolute;
      font-size: 3.2vmin;
      background-color: black;
      color: white;
      text-align: center;
}

.screenText {
      position: absolute;
      width: 15vh;
      top: 11.5%;
      left: 66.5%;
      color: black;
      font-size: 2vh;
      font-family: "Digital", serif;
}

.button {
      background-color: transparent;
      border: none;
      position: absolute;
      width: 7vh;
      height: 3.5vh;
}

#voicemail {
      top: 70%;
      left: 85%;
      animation-name: flashing;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      border-radius: 10px;
      opacity: 0.3;
}

@keyframes flashing {
      0% {
            background-color: transparent;
      }

      50% {
            background-color: red;
      }

      100% {
            background-color: transparent;
      }
}

#one {
      top: 38.5%;
      left: 62%;
}

#two {
      top: 38.5%;
      left: 73.5%;
}

#three {
      top: 38.5%;
      left: 85.5%;
}

#four {
      top: 46%;
      left: 62%;
}

#five {
      top: 46%;
      left: 73.5%;
}

#six {
      top: 46%;
      left: 85.5%;
}

#seven {
      top: 54%;
      left: 62%;
}

#eight {
      top: 54%;
      left: 73.5%;
}

#nine {
      top: 54%;
      left: 85.5%;
}

#star {
      top: 62%;
      left: 62%;
}

#zero {
      top: 62%;
      left: 73.5%;
}

#pound {
      top: 62%;
      left: 85.5%;
}

#reciever {
      top: 13%;
      left: 46%;
      width: 4vh;
      height: 6vh;
}

.button2 {
      background-color: whitesmoke;
      border: none;
      border-radius: 4px;
      color: #747474;
      font-weight: bold;
      padding: 4px 8px;
      text-align: center;
      font-size: 20px;
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      margin: 5px 0px;
      opacity: 0.9;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
}

.button2:hover {
      opacity: 1
}

.button2:active {
      background-color: white;
}

.fax {
      width: 30%;
      bottom: 50px;
      left: 30px;
}

.faxSlipHider {
      perspective: 3000px;
      top: -486%;
      height: 500%;
      width: 100%;
      overflow: hidden;
}

.faxPaperItem {
      top: 0px;
      left: 70px;
      width: 90%;
      transform-origin: top center;
      transform: rotateX(85deg) translateY(-1000px);
      transition: 2s all ease-out;
}

.faxPaperHider {
      perspective: 2000px;
      bottom: 0px;
      left: 0px;
      height: 100px;
      width: 660px;
      overflow: hidden;
}