html {
      background-color: whitesmoke;
      background-image: url('./images/background.webp');
      background-size: 100vw 100vh;
      /* background-size: cover; */
      font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
      color: whitesmoke;
      overflow: hidden;
}

* {
      user-select: none;
      -moz-user-select: none;
      -webkit-text-select: none;
      -webkit-user-select: none;
}

.position {
      position: absolute;
}

.inventory {
      height: 15vh;
      width: 100%;
      top: -10vh;
      left: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 5vw;
      z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
      opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
      position: absolute !important;
      z-index: 20;
}

.startButton {
      width: 70px;
      aspect-ratio: 359 / 885;
      background-image: urL(./images/leverUp.webp);
      background-size: 100% 100%;
      border: none;
      background-color: transparent;
      /* background-color: whitesmoke;
      border-radius: 5%; */
      text-align: center;
      font-family: 'Bebas Neue';
      z-index: 2;
}

.startButton:active {
      background-image: urL(./images/leverDown.webp);
      background-size: 100% 100%;
}

.underText {
      position: relative;
      color: black;
      font-family: 'Bebas Neue';
      font-size: 20px;
      text-align: center;
      top: -20px;
}

.pipesContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      grid-gap: 25px;
}

.pipe {
      background-color: transparent;
      width: 100%;
      height: 100%;
      align-self: center;
      justify-self: center;
}

.pipeOutside {
      background-color: transparent;
      width: 100%;
      height: 100%;
      align-self: center;
      justify-self: center;
}

.intersection {
      position: absolute;
      /* background-color: white; */
      background-image: url(./images/valve.webp);
      background-size: 100% 100%;
      width: 45px;
      height: 15px;
      z-index: 7;
      display: flex;
      justify-content: center;
      align-items: center;
}

.colorFilter {
      position: absolute;
      width: 45px;
      height: 15px;
      z-index: 6;
}

.liquidBox {
      position: absolute;
}

.liquidStart {
      background-image: url(./images/colorTank.webp);
      background-size: 100% 100%;
}

.liquidEnd {
      background-image: url(./images/colorPipeThick.webp);
      background-size: 100% 100%;
}

.liquidEndPath {
      background-image: url(./images/pipeLong.webp);
      background-size: 100% 100%;
}

.endCap {
      background-image: url(./images/thickCap.webp);
      background-size: 100% 100%;
}

.insidePipe {
      height: 100%;
      width: 100%;
}

.insidePipe img {
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.boxHolderDebug {
      width: 100%;
      flex-direction: row;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
}

.filledContainer {
      /*	position: absolute;*/
}

.answerHolder {
      display: flex;
      height: 100%;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      align-items: center;
      gap: 25px;
}

.boxHolder {
      height: 100%;
      flex-direction: column;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0px;
}

.wireHolder {
      position: absolute;
      background-image: url(./images/wires.webp);
      background-size: 100% 100%;
}

.buttonHolder {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      justify-content: center;
      align-items: center;
      column-gap: 25px;
      z-index: 11;
}

.uploadHolder {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: absolute;
      justify-content: center;
      align-items: center;
      column-gap: 25px;
      z-index: 11;
}

.draggableElement {
      position: absolute;
      z-index: 6;
}

.holder {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}

.debugPipeHolder {
      background-color: whitesmoke;
}

.debugIntersectionsHolder {
      background-color: gray;
}

.debugColorFilterHolder {
      background-color: whitesmoke;
}

.debugEntranceHolder {
      background-color: gray;
}

.imgcontainer {
      filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.imgcontainer img {
	max-height: 100%;
	max-width: 100%;
	pointer-events: none;
	object-fit: contain;
}

@font-face {
      font-family: 'Bebas Neue';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wlhyw.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}