html {
	background-color: whitesmoke;
	background-image: url('./images/background.webp');
	background-size: cover;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	color: whitesmoke;
	overflow: hidden;
}

* {
 user-select: none; 
 -moz-user-select: none;
 -webkit-text-select: none;
 -webkit-user-select: none;
 cursor: default;
}

:root {
	--deskHeight: 400px;
	--mirrorHeight: 600px;
	--sofaHeight: 300px;
	--fireplaceHeight: 450px;
	--sofaWidth: 863px;
	--pianoHeight: 600px;
	--wallTableHeight: 400px;
	--tableHeight: 250px;
	--tableWidth: 650px;
	--tableLeft: 600px;
}

.position {
	position: absolute;
}

.inventory {
	height: 15vh;
	width: 100%;
	top: -10vh;
	left: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 5vw;
	z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
	opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
	position: absolute !important;
	z-index: 20;
}

.imgcontainer {
	/* position: absolute; */
/*    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));*/
}

.imgcontainer img {
	max-height: 100%;
	max-width: 100%;
	pointer-events: none;
	object-fit: contain;
}

.mirror {
	height: var(--mirrorHeight);
	width: calc(var(--mirrorHeight) / 2 );
	left: calc(50% - ((var(--mirrorHeight) / 2) / 2) - 5px);
	top: 100px;
	overflow: hidden;
	border: 10px ridge gray;
	z-index: -1;
}

.behindMirror {
	height: var(--mirrorHeight);
	width: calc(var(--mirrorHeight) / 2 );
	left: calc(50% - ((var(--mirrorHeight) / 2) / 2) - 5px);
	top: 100px;
	overflow: hidden;
	z-index: -2;
	background-color: black;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 10px groove saddlebrown;
}

.sofa {
	height: var(--sofaHeight);
	left: calc(var(--tableLeft) + (var(--tableWidth) / 2) - (var(--sofaWidth) / 2));
	/* left: var(--tableLeft); */
	bottom: 100px;
	max-width: 100%;
	max-height: 100%;
}

.fireplace {
	height: var(--fireplaceHeight);
	left: calc(50% - ((var(--fireplaceHeight)) / 1.1));
	bottom: 150px;
	max-width: 100%;
	max-height: 100%;
	visibility: hidden;
}

.piano {
	height: var(--pianoHeight);
	left: -25px;
	bottom: -75px;
	max-width: 100%;
	max-height: 100%;
	z-index: 2;
}

.recordPlayer {
	height: 500px;
	left: 200px;
	bottom: 50px;
	max-width: 100%;
	max-height: 100%;
}

.wallTable {
	right: 15px;
	bottom: -50px;
	height: var(--wallTableHeight);
}

.globe {
	height: 250px;
	bottom: calc(var(--wallTableHeight) - 130px);
	right: 140px;
}

.phone {
	height: 100px;
	bottom: calc(var(--wallTableHeight) - 180px);
	right: 125px;
	max-width: 100%;
	max-height: 100%;
}

.table {
	height: var(--tableHeight);
	bottom: 0px;
	left: var(--tableLeft);
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.tableImg {
	position: absolute;
	z-index: -1;
}

.chessBoard {
	height: 50px;
	top: 0px;
	left: 100px;
	max-width: 100%;
	max-height: 100%;
	z-index: 4;
}

.happyRoomShelf {
	height: 175px;
	top: 280px;
	right: 325px;
	max-width: 100%;
	max-height: 100%;
}

	.halfSlipHider {
		overflow: hidden;
		position: relative;
		bottom: 100px;
		left: 215px;
		height: 30px;
		width: 75px;
		max-width: 100%;
		max-height: 100%;
	}
	.halfSlipLoungeFrontSlider {
		visibility: hidden;
		overflow: hidden;
		position: relative;
		left: -150px;
		height: 30px;
            width: 150px;
		transition: 2s ease-in-out;
	}
		.halfSlipLoungeFrontImg {
			overflow: hidden;
			position: relative;
			height: inherit;
			width: inherit;
			max-width: 100%;
			max-height: 100%;
}

.painting {
	height: 175px;
	top: 125px;
	left: 1400px;
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.statue {
	bottom: calc(var(--pianoHeight) - 75px);
	left: 40px;
	height: 150px;
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.plant {
	bottom: calc(var(--tableHeight) - 40px);
	left: calc(var(--tableLeft) + 350px);
	height: 250px;
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.teacup {
	bottom: calc(var(--tableHeight) / 2 - 15px);
	left: calc(var(--tableLeft) - 150px);
	height: 50px;
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.candlestick {
	bottom: calc(var(--wallTableHeight) - 180px);
	left: 1775px;
	height: 125px;
	width: 50px;
	max-width: 100%;
	max-height: 100%;
	z-index: 3;
}

.snap {
	width: 100px;
	height: 100px;
	/* background-color: red;
	opacity: 50%; */
	position: absolute;
	z-index: 20;
	pointer-events: none;
	/* background-color: red;
	opacity: 50%; */
}

.fireplaceSnap {
	width: 760px !important;
	height: 100px !important;
	/* background-color: red;
	opacity: 50%; */
	position: absolute;
	z-index: 20;
	pointer-events: none;
	bottom: calc(150px + var(--fireplaceHeight));
	left: calc(50% - ((var(--fireplaceHeight)) / 1.1));
}

.snap0 {
	/* Piano Top */
	left: 20px;
	width: 200px;
	bottom: calc(var(--pianoHeight) - 75px);
}

.snap1 {
	/* Center Table */
	width: 625px;
	bottom: calc(var(--tableHeight) - 40px);
	left: calc(var(--tableLeft));	
}

.snap2 {
	/* Phone Floor */
	width: 275px;
	right: calc(var(--tableLeft) - 350px);
	bottom: calc(var(--tableHeight) / 2);	
}

.snap3 {
	/* Wall Painting A */
	top: 200px;
	left: 350px;
}

.snap4 {
	/* Wall Painting B */
	top: 200px;
	left: 600px;
}

.snap5 {
	/* Wall Painting B */
	top: 200px;
	right: 350px;
}

.snap6 {
	/* Wall Painting B */
	top: 200px;
	right: 600px;
}

.snap7 {
	/* Couch Floor */
	left: calc(var(--tableLeft) - 170px);
	bottom: calc(var(--tableHeight) / 2 - 15px);
}

.snap8 {
	/* Phone Table */
	bottom: calc(var(--wallTableHeight) - 180px);
	right: 60px;	
}

.snap9 {
	/* Fireplace */
	top: 325px;
	left: 500px;
}

.hook1 {
	height: 40px;
	top: 140px;
	left: 375px;
}

.hook2 {
	height: 40px;
	top: 140px;
	left: 625px;
}

.hook3 {
	height: 40px;
	top: 140px;
	right: 375px;
}

.hook4 {
	height: 40px;
	top: 140px;
	right: 625px;
}

.behindMirror {
	height: var(--mirrorHeight);
	width: calc(var(--mirrorHeight) / 2 );
	left: calc(50% - ((var(--mirrorHeight) / 2) / 2) - 5px);
	top: 100px;
	overflow: hidden;
	z-index: -2;
	background-color: black;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: 10px groove saddlebrown;
}