html {
	background-color: whitesmoke;
	background-image: url('./images/background.webp');
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
	color: whitesmoke;
	overflow: hidden;
	user-select: none;
}

/** {
	outline: 2px solid red;
}*/

.center {
	display: flex;
	width: 80%;
	height: 100%;
	margin: auto;
	justify-content: space-between;
}

.inventory {
	height: 15vh;
	width: 100%;
	top: -10vh;
	left: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 5vw;
	z-index: 10;
	background-color: transparent;
      background-image: url(/images/inventoryBackground.webp);
      background-size: 100% 100%;
	opacity: 50%;
}


.pause {
      height: 70px;
      width: 70px;
      border-radius: 50%;
	background-color: transparent;
      background-image: url(/images/pause.webp);
      background-size: 100% 100%;
      top: calc(50% - 35px);
      right: calc(7.5vh - 35px);
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 40px;
      color: black;
}


.unpauseButt {
      bottom: 30%;
}

.saveButton {
      top: 30px;
      right: 50px;
      font-size: 40px !important;
}

.unpauseButton {
      border: none;
      background-color: transparent;
      font-size: 60px;
      color: rgb(255, 255, 255, 0.8);
      font-family: 'Passion One';
}

.unpauseButton:hover {
      color: rgb(255, 255, 255, 0.5);
}

.unpauseButton:active {
      color: rgb(255, 255, 255, 0.2);
}

.pauseOverlay {
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      pointer-events: all;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 500px 100px black;
      backdrop-filter: blur(20px);
      display: none;
}

.unpause {
      font-family: 'Passion One';
      font-size: 160px;
      color: rgb(255, 255, 255, 0.8);
      width: 1000px;
      height: 400px;
      top: calc(50% - 200px);
      left: calc(50% - 500px);
      z-index: 101;
      display: flex;
      justify-content: center;
      align-content: center;
}

@font-face {
      font-family: 'Passion One';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(https://fonts.gstatic.com/s/passionone/v18/Pby6FmL8HhTPqbjUzux3JEMq007vyJc.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.inventoryItem {
	height: 80%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: auto;
      filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.dragItem {
	position: absolute !important;
	z-index: 20;
}

.imgcontainer {
/*  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));*/
  z-index: 3;
}

.imgcontainer img {
	max-height: 100%;
	max-width: 100%;
	pointer-events: none;
	object-fit: contain;
}

.board {
	left: 140px;
	background-color: lightgrey;
	position: absolute;
	display: grid;
}

.light {
      height: 30px;
      width: 30px;
      background-color: red;
      background: radial-gradient(circle at center, red, darkred);
      border-radius: 50%;
}

.pitchBar {
	background-color: maroon;
	height: 20px;
	text-align: center;
}

.number {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
}

.peg {
	background-color: gray;
	height: 15px;
	width: 15px;
	align-self: center;
  	justify-self: center;
}

.position {
	position: absolute;
}

.label {
	width: 75px;
	height: 40px;
	bottom: 10%;
	font-size: 30px;
	text-align: center;
	color: black;
}

.selected {
	color: white !important;
}

.whitekey {
	border: 2px solid black;
	color: black;
	font-size: 30px;
	text-align: center;
	position: absolute;
	bottom: 5%;
	background-color: whitesmoke;
	height: 200px;
	width: 80px;
	pointer-events: none;
}

.blackkey {
	border: 2px solid black;
	color: black;
	font-size: 30px;
	text-align: center;
	position: absolute;
	background-color: black;
	height: 110px;
	width: 40px;
	z-index: 3;
}

.jackhole {
	position: absolute;
}

.tuner {
	position: absolute;
	right: 5%;
}

.hole {
	left: -50vh;
	height: 100%;
	width: 100%;
	background-color: gray;
	transition: 2s all linear;
}

.holeHider {
	top: 15%;
	right: 10%;
	height: 50vh;
	width: 50vh;
	overflow: hidden;
}

.button {
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    color: #747474;
    font-weight: bold;
    padding: 4px 8px;
    text-align: center;
    font-size: 20px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    margin: 5px 0px;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 1   
}

.button:active {
    background-color: white;
}